{% if match.home_team == 'Россия' or match.away_team == 'Россия' %}
                <img
                    src="/static/clubs/Russian_Football_Union_Logo.svg"
                    alt="Сборная России"
                    class="tournament-logo"
                >
            {% elif match.league == 'rpl' %}
                <img
                    src="/static/clubs/russian-premier-league-footballlogos-org.png"
                    alt="РПЛ"
                    class="tournament-logo"
                >
            {% elif match.league == 'rcup' %}
                <img
                    src="/static/clubs/Fonbet_Russian_Cup.png"
                    alt="Кубок России"
                    class="tournament-logo"
                >
            {% elif match.league == 'wc2026' %}
                <img
                    src="/static/clubs/wc2026-logo.png"
                    alt="Турнир"
                    class="tournament-logo"
                >
            {% endif %}

            <div class="league-label">
                {% if match.home_team == 'Россия' or match.away_team == 'Россия' %}
                    Сборная России
                {% elif match.league == 'wc2026' %}
{% elif match.league == 'rcup' %}
                    Кубок России
                {% elif match.league == 'rpl' %}
                    РПЛ
                {% else %}
                    Матч
                {% endif %}
            </div>
