openapi: 3.1.0
info:
  title: TOTISH GPT Read-Only Analytics API
  version: 3.0.0
  description: Safe read-only production analytics for TOTISH.

servers:
  - url: https://totish.ru

security:
  - bearerAuth: []

paths:

  /api/gpt/health:
    get:
      operationId: getTotishHealth
      summary: Check TOTISH GPT API and read-only database.
      responses:
        '200':
          description: Service state
        '401':
          description: Unauthorized
        '503':
          description: Service unavailable

  /api/gpt/tournaments:
    get:
      operationId: listTotishTournaments
      summary: List tournaments.
      responses:
        '200':
          description: Tournament list
        '401':
          description: Unauthorized
        '503':
          description: Service unavailable

  /api/gpt/users:
    get:
      operationId: listTotishUsers
      summary: List TOTISH participants.
      responses:
        '200':
          description: Participant list
        '401':
          description: Unauthorized
        '503':
          description: Service unavailable

  /api/gpt/matches:
    get:
      operationId: listTotishMatches
      summary: List matches with optional filters.
      parameters:
        - name: match_id
          in: query
          schema:
            type: integer
            minimum: 1
        - name: tournament_id
          in: query
          schema:
            type: integer
            minimum: 1
        - name: date_from
          in: query
          schema:
            type: string
            format: date
        - name: date_to
          in: query
          schema:
            type: string
            format: date
        - name: finished
          in: query
          schema:
            type: boolean
        - name: status
          in: query
          schema:
            type: string
        - name: team
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 100
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            maximum: 100000
            default: 0
      responses:
        '200':
          description: Match list
        '400':
          description: Invalid request
        '401':
          description: Unauthorized
        '503':
          description: Service unavailable

  /api/gpt/predictions:
    get:
      operationId: listTotishPredictions
      summary: List safe prediction records after their deadlines.
      parameters:
        - name: match_id
          in: query
          schema:
            type: integer
            minimum: 1
        - name: user_id
          in: query
          schema:
            type: integer
            minimum: 1
        - name: tournament_id
          in: query
          schema:
            type: integer
            minimum: 1
        - name: date_from
          in: query
          schema:
            type: string
            format: date
        - name: date_to
          in: query
          schema:
            type: string
            format: date
        - name: finished
          in: query
          schema:
            type: boolean
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 100
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            maximum: 100000
            default: 0
      responses:
        '200':
          description: Prediction list
        '400':
          description: Invalid request
        '401':
          description: Unauthorized
        '503':
          description: Service unavailable

  /api/gpt/analytics/predictions:
    get:
      operationId: getTotishAnalyticsPredictions
      summary: Get flat historical prediction data for fallback analysis.
      parameters:
        - name: match_id
          in: query
          schema:
            type: integer
            minimum: 1
        - name: user_id
          in: query
          schema:
            type: integer
            minimum: 1
        - name: tournament_id
          in: query
          schema:
            type: integer
            minimum: 1
        - name: date_from
          in: query
          schema:
            type: string
            format: date
        - name: date_to
          in: query
          schema:
            type: string
            format: date
        - name: finished
          in: query
          schema:
            type: boolean
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 100
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            maximum: 100000
            default: 0
      responses:
        '200':
          description: Historical prediction data
        '400':
          description: Invalid request
        '401':
          description: Unauthorized
        '503':
          description: Service unavailable

  /api/gpt/analytics/player-summary:
    get:
      operationId: getTotishPlayerStats
      summary: Get stored finished-match statistics for one participant.
      parameters:
        - name: user_id
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
        - name: tournament_id
          in: query
          schema:
            type: integer
            minimum: 1
        - name: date_from
          in: query
          schema:
            type: string
            format: date
        - name: date_to
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Player statistics
        '400':
          description: Invalid request
        '401':
          description: Unauthorized
        '503':
          description: Service unavailable

  /api/gpt/player-stats:
    get:
      operationId: getLegacyTotishPlayerStats
      deprecated: true
      summary: Legacy alias for participant statistics.
      parameters:
        - name: user_id
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
        - name: tournament_id
          in: query
          schema:
            type: integer
            minimum: 1
        - name: date_from
          in: query
          schema:
            type: string
            format: date
        - name: date_to
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Player statistics
        '400':
          description: Invalid request
        '401':
          description: Unauthorized
        '503':
          description: Service unavailable

  /api/gpt/query:
    post:
      operationId: runTotishQuery
      summary: Run one safe read-only PostgreSQL analytics query.
      description: >
        Preferred action for non-trivial analytics. PostgreSQL performs the
        aggregation and comparison directly. Queries may use only the safe
        relations users, tournaments, matches and predictions. Future prediction
        rows are physically absent from predictions until their deadline.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - sql
              additionalProperties: false
              properties:
                sql:
                  type: string
                  maxLength: 12000
                  description: >
                    One SELECT or WITH...SELECT PostgreSQL query. Use only
                    users, tournaments, matches and predictions from the
                    isolated gpt_safe search path.
      responses:
        '200':
          description: Query result, maximum 500 rows
        '400':
          description: Invalid, unsafe or failed query
        '401':
          description: Unauthorized
        '503':
          description: Service unavailable

components:
  schemas: {}
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
